@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

* {
  font-family: "Inter", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
